<!DOCTYPE html>
{%extends 'empapp/base.html'%}
{%block body_block%}
    <div class="container">
        <p class="h1 text-center text-secondary">Employees Page</p> 
        <section>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Sed ipsam fugit ipsum ad totam? Tenetur odit quas iste est ipsam neque illo
                  officiis deleniti, quia dignissimos quod rerum inventore ex quam 
                  repudiandae nisi cum hic labore. Harum vel eaque dolore!
            </p>
            <div class="row">
                <div class="col-md-8">
                    <a href="{%url 'add'%}" class="btn btn-sm btn-outline-amber rounded-pill">ADD</a>
                </div>
                <div class="col-md-4">
                    <input type="search" placeholder="search" class="float-right form-control">
                </div>
            </div>
        </section>

        <section>
            {% if emp_list %}
                <p class="h1 text-center text-success">Records Found</p>

                <table class="table table-bordered table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Employee Salary</th>
                            <th>Employee Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for emp in emp_list%}
                        <tr>
                            <td>{{emp.EmployeeID}}</td>
                            <td>{{emp.EmployeeName}}</td>
                            <td>{{emp.EmployeeSalary}}</td>
                            <td>{{emp.EmployeeDept}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                 <p class="h1 text-center text-danger">Records Not Found</p>
            {%endif%}
        </section>
    </div>
{%endblock%}
