<!DOCTYPE html>
{%extends 'empapp/base.html'%}
{%block body_block%}
    <div class="container">
        <p class="h1 text-center text-secondary">Register Page</p>
        
        <form action="" method="post">
            {%csrf_token%}
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                            <div class="card-header bg-primary text-white text-center">
                                <p class="h2">Register Here</p>
                            </div>
                            <div class="card-body">
                                {{form.as_p}}
                                 <button class="btn btn-sm btn-primary rounded-pill ">Register</button>
                            </div>
                    </div>
                </div>
            </div>


           
        </form>
    </div>
{%endblock%}
