<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div style="text-align: center;"></div>
    <form action="" method="post">
       
            <h1 style="text-align: center;color:blue">Login Here</h1>
            {%csrf_token%}
            <label >UserName</label><input type="text" name="username" placeholder="Enter UserName"/>
            <br><br>
            <label>Pssword</label><input type="password" name="password" placeholder="Enter Password"/>
            <br><br>
            <button>Login</button>
             <a href="{%url 'register'%}">Register</a>
       
    </form>
     </div>
</body>
</html>
</body>
</html>