<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
        <directoryBrowse enabled="true" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="empmodelformproject.wsgi.application" />
    <add key="PYTHONPATH" value="E:\DJANOG12-11\empmodelformproject" />
    <add key="DJANGO_SETTINGS_MODULE" value="empmodelformproject.settings" />
  </appSettings>
</configuration>
